body {
    background-color: white;
    font-family: JetBrains Mono;
}

.champs {
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.toggleTeamsButton {
    flex:0;
    margin: 15px;
    color: darkgrey;
    font-size: 16px;
    font-weight:bold;
}

.toggleTeamsButton:hover {
    color: white;
    background-color: darkgrey;
}

.togglePlayerButton {
    flex:0;
    margin: 15px;
    color: darkgrey;
    font-size: 16px;
    font-weight:bold;
}

.togglePlayerButton:hover {
    color: white;
    background-color:darkgrey;
}

.toggleTeams {
    flex:1;
    margin:10px;
    color: black;
    font-size: 12px;
}

.togglePlayers {
    flex:1;
    margin: 10px;
    color: black;
    font-size: 12px;
}

.teamSubmit {
    height: 27px;
    border: 0px solid;
    color:white;
    background-color:darkgrey;
}

.teamSubmit:hover {
    color: lighgrey;
    background-color:grey;
}

.teamInput {
    height:25px;
    border: 0px solid;
    color: darkgrey;
    background-color:lightgrey;
    margin-bottom:10px;
}

.playerSubmit {
    height: 27px;
    border: 0px solid;
    color:white;
    background-color:darkgrey;
}

.playerSubmit:hover {
    color: lighgrey;
    background-color:grey;

}

.playerInput {
    height:25px;
    border: 0px solid;
    color: darkgrey;
    background-color:lightgrey;
    margin-bottom:10px;
}

.teamsList {
    display:flex;
    margin-bottom: 10px;
}

.playersList {
    margin-bottom: 10px;
}
.newEdition {
    display:block;
}

.listTeam {
    flex:1;
    margin:10px;
    font-size:14px;
}
.listTeamRemove {
    flex:1;
    background-color:white;
    color:grey;
    border: 0px solid;
    margin-bottom:5px;
    text-align:center;
    align-items:center;
}
.listTeamRemove:hover {
    background-color:grey;
    color:white;
}
.listTeamAdd {
    flex:1;
    background-color:white;
    color:grey;
    border: 0px solid;
    margin-bottom:5px;
    text-align:center;
    align-items:center;
}
.listTeamAdd:hover {
    background-color:grey;
    color:white;
}
.listTeamAdd:disabled {
    background-color:lightgrey;
    color:white;
}
.roundContainer {
    display:block;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.roundCounter {
    display:flex;
    width:52%;
    justify-content:right;
    font-size:12px;
    font-weight:bold;
    /* margin-left: -100px; */
}

.container {
    display:flex;
    align-items:center;
}

.gameCounter {
    flex:1;
    font-size:8px;
    font-weight:bold;
    /* width:5%; */
}

.gameContainer {
    display:flex;
    align-items:center;
    width:96%;
    background-color:white;
    border: 1px solid green;
    margin:5px;
}

.scores {
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
}

.homeTeam {
    flex:2;
    justify-content:left;
    text-align:left;
    margin-left: 10px;
}

.awayTeam {
    flex:2;
    justify-content:right;
    text-align:right;
    margin-right: 10px;
}

.homeGoals {
    flex:0;
    align-items:center;
    justify-content:center;
    width: 25px;
    margin: 5px;

}
.awayGoals {
    flex:0;
    align-items:center;
    justify-content:center;
    width: 25px;
    margin: 5px;
}

.scoreButton {
    flex:0;
    margin-right: 10px;
}

.title {
    display:flex;
    font-size:18px;
    font-weight:bold;
    color: #474747;
    align-items:center;
    justify-content:space-evenly;

}

.champsName {
    flex:1;
    text-align:center;
}
.champsDate {
    flex:1;
    text-align:center;
}
